#title {
    height: auto;
    padding: 10px;
    border: 0.3px solid #0f0074bc;
    text-align: center;
}

.button {
    padding: 10px;
    text-align: center;
    background-color: #555555;
    font-size: 34px;
    border-radius: 4px;
    transition-duration: 0.4s;
    color: rgba(170, 255, 255, 0.651);
}

.button:hover {
    background-color: white;
    /* Green */
    color: #555555;
}

header {
    display: flex;
    margin-top: 20%;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}